/* 左侧menu常量 */
$--size-menuNormalWidth: 240px;
$--size-menuCollapseWidth: 54px;

$--color-menu-primary: #27bb4f;
$--color-menu-text: #616871;

$--color-menuItemText: $--color-menu-text;
$--color-menuItemActiveText: #ffffff;
$--color-menuItemBg: #ffffff;
$--color-menuItemHoverBg: rgba(
  $color: $--color-menu-primary,
  $alpha: 0.1,
);
$--color-menuItemActiveBg: $--color-menu-primary;

$--color-submenuTitleText: $--color-menu-text;
$--color-submenuTitleActiveText: $--color-menu-primary;
$--color-submenuTitleBg: #ffffff;
$--color-submenuTitleHoverBg: rgba(
  $color: $--color-menu-primary,
  $alpha: 0.1,
);
$--color-submenuTitleActiveBg: #ffffff;

$--color-submenuItemText: $--color-menu-text;
$--color-submenuItemActiveText: #ffffff;
$--color-submenuItemBg: #f3f4f5;
$--color-submenuItemHoverBg: rgba(
  $color: $--color-menu-primary,
  $alpha: 0.1,
);
$--color-submenuItemActiveBg: $--color-menu-primary;

/* projet 主色 */
$--color-primary-projet: #27bb4f;
/* nav */
$--size-navHeight: 56px;
/* tag */
$--size-tagHeight: 48px;

:export {
  sizeMenuNormalWidth: $--size-menuNormalWidth;
  sizeMenuCollapseWidth: $--size-menuCollapseWidth;
}
