/* 左侧menu常量 */
$--size-menuNormalWidth: 240px;
$--size-menuCollapseWidth: 54px;

$--color-menu-primary: #27BB4F;
$--color-menu-text: #616871;

$--color-menuItemText:  #616871;
$--color-menuItemActiveText: #ffffff;
$--color-menuItemBg: #ffffff;
$--color-menuItemHoverBg: rgba($color: #27BB4F, $alpha: 0.1);
$--color-menuItemActiveBg: #27BB4F;

$--color-submenuTitleText: #616871;
$--color-submenuTitleActiveText: #27BB4F;
$--color-submenuTitleBg: #ffffff;
$--color-submenuTitleHoverBg:rgba($color: #27BB4F, $alpha: 0.1);
$--color-submenuTitleActiveBg: #ffffff;

$--color-submenuItemText: #616871;
$--color-submenuItemActiveText: #ffffff;
$--color-submenuItemBg: #f3f4f5;
$--color-submenuItemHoverBg:rgba($color: #27BB4F, $alpha: 0.1);
$--color-submenuItemActiveBg: #27BB4F;

/* nav */
$--size-navHeight: 56px;
/* tag */
$--size-tagHeight: 48px;

:export {
  sizeMenuNormalWidth: $--size-menuNormalWidth;
  sizeMenuCollapseWidth: $--size-menuCollapseWidth;
}
